.footer {
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 165px;
    }
    
    .footer-tex {
        width: 300px;
        font-size: 30px;
        font-family: calibre
    }
    
    .footer-email {
        color: #AF0C48;
    }
    
    .footer-have {
        color: #0A0A14;
    }
    
    .padre {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 80px;
    }
    
    .column1 {
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer-iosipratama {
        margin-right: 113px;
        color: #0A0A14;
    }
    
    .column2 {
        display: flex;
        flex-wrap: wrap;
        margin-right: 20px;
    }
    
    .footer-personalblog {
        margin-right: 20px;
        color: #0A0A14;
    }
    
    .footer-dribbble {
        margin-right: 20px;
        color: #EA4C89;
    }
    
    .footer-medium {
        margin-right: 20px;
        color: #00AB6B;
    }
     
    .footer-behance {
        margin-right: 20px;
       color : #1769FF;
    }
    
    .footer-linkedin {
        margin-right: 20px;
        color : #0077B5;
    }