
/*footer*/

.footer {
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 165px;
    }
    
    .footer__tex {
        width: 300px;
        font-size: 30px;
        font-family: calibre
    }
    
    .footer__email {
        color: #AF0C48;
    }

    .padre {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 80px;
    }

    .hijo {
        display: flex;
        flex-wrap: wrap;
    }

    .usuario {
        margin-right: 113px;
        color: #0A0A14;
    }

    .footer__have {
        color: #0A0A14;
    }
    
    .redes__sociales{
        display: flex;
        flex-wrap: wrap;
        margin-right: 20px;
    }
    
    .redes__sociales {
        margin-right: 20px;
        color: #0A0A14;
    }
    
    .redes__sociales {
        margin-right: 20px;
        color: #EA4C89;
    }
    
    .redes__sociales__{
        margin-right: 20px;
        color: #00AB6B;
    }
     
    .redes__sociales {
        margin-right: 20px;
       color : #1769FF;
    }
    
    .redes__sociales {
        margin-right: 20px;
        color : #0077B5;
    }

    /* fin del footer/*